h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

.frase {
  display: flex;
  align-items: center;
  justify-content: center;
}

.informacoes {
  margin-top: 10%;
}