body {
  overflow: scroll;
}

.campo-digitacao {
  font-size: 20px;
  height: 130px;
  border: solid 3px black;
}

.frase {
  font-size: 20px;
  text-align: left;
}

.campo-desativado {
  background-color: lightgray;
}

.icones {
  vertical-align: middle;
}

.campo-correto {
  border: 3px solid greenyellow;
}

.campo-incorreto {
  border: 3px solid tomato;
}

.placar {
  display: none;
}

#erro{
  color: red;
  display: none;
}

#spinner {
  display: none;
}

#frase-id {
  width: 40px;
}