html {
  background: rgb(83, 83, 83);
}

/* width */
html::-webkit-scrollbar {
  width: 8px;
}

/* Track */
html::-webkit-scrollbar-track {
  background: #4e4d4d;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: rgb(44, 40, 40);
  border-radius: 20px;

}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: rgb(21, 20, 24);;
}

body {
  overflow: scroll;
  color: aliceblue;
}

.campo-digitacao {
  font-size: 20px;
  height: 130px;
  border: solid 3px black;
}

.frase {
  font-size: 20px;
  text-align: left;
}

.campo-desativado {
  background-color: lightgray;
}

.icones {
  vertical-align: middle;
}

.campo-correto {
  border: 3px solid greenyellow;
}

.campo-incorreto {
  border: 3px solid tomato;
}

.placar {
  display: none;
}

#erro{
  color: red;
  display: none;
}

#spinner {
  display: none;
}

#frase-id {
  width: 40px;
}

#botao-sync {
  float: right;
}